
<div class="questionContent container">
<h2>{{question.title}}</h2>
<p>Asked by {{question.author}}</p>
<br>
<span class="questionDetail">{{question.text}}</span>
<br><br>

<hr/>

<button {{action 'delete' question}} class="btn btn-danger">Delete</button>
</div>
